body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
}

#headerr{
    background-color: #f3f2ed;
}
#headerr h1{
    height: 80px;
    line-height: 80px;
    margin: 0;
    padding-left: 10px;
}

.container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

h3{
  color: red;
  text-align:  center;
}

h2 {
    text-align: center;
    color: #2e7d32; /* Green color */
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input, select, textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 14px;
}

input[type="file"] {
    padding: 5px;
}

button {
    width: 100%;
    background-color: #2e7d32; /* Green color */
    color: white;
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #1b5e20;
}

.optional {
    font-size: 12px;
    color: #666;
}
